.container {
    display: flex;
    min-width: 99.2vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, #13326b 10%, #ab00cec4 80%);
    bottom: 3rem;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
    text-decoration: underline;
}

.content {
    background-color: #e700a228;
    border-radius: 1rem;
    padding: 2.5rem 2rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    min-height: 18rem;
    width: 100vw;
    max-width: 900px;
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    border: 1.4px solid #ab00cec4;
    margin-top: 3rem
}

@media (max-width: 700px) {
    .content {
        flex-direction: column;
        padding: 1.2rem 0.5rem;
        min-height: unset;
        width: 98vw;
        max-width: 99vw;
        gap: 1rem;
    }
}


.imageProfile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.image {
    border-radius: 1rem;
    width: 250px;  
    height: 250px;
    box-shadow: 0 12px px rgba(0,0,0,0.25), 0 1.5px 6px rgba(0,0,0,0.12);
    border: 1.2px solid #fff;
}

.textContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex;
    text-align: left;
    flex: 1;
    gap: 0.5rem;
}

.name {
    font-size: 1.8rem;
    font-weight: 700;
    color: #ff0000;
    text-align: center;
    font-weight: bold;
}

.description {
    font-size: 1.2rem;
    line-height: 1.75rem;
    color: #ffffff;
    margin: 1rem
}

.perfilCards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.card {
    width: 10vw;
    text-align: center;
    border: 2px solid rgb(120, 34, 201);
    height: 12.5vh;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
    color: white;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}

.motivacional {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #c0c0c0;
    margin-top: 1rem;
    text-align: center;
}
